body{
    background-color: bisque;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.profile-card{
    font-weight: 400px;
    background-color: whitesmoke;
    padding: 20px;
    margin: 120px auto;
    text-align: center;
    border-radius: 10px;
}
h1{
    color: black;
}

p{
    color: black;
    font-size: 15px;
}
button{
    background-color: #4caf50;
    color: white;
    border: NONE;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover{
    background-color: blueviolet;
}