body{
    margin:0;
    font-family: cursive;
}

.head{
    text-align: left;  
    color: white; 
    margin: 0;
}
.navbar{
    background-color: #555;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
}

.nav-links{
    display: flex;
}
.nav-links a{
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.nav-links a:hover{
    background-color: #777;
}

.content{
    display: flex;
    padding: 10px;
}

.main-section{
    flex: 3;
    padding: 25px;
    background-color: #f2f2f2;
}

.sidebar{
    flex: 1;
    background-color: #ddd;
    padding: 25px;
    margin-left: 25px;
}

.footer{
    padding: 5px;
    align-items: center;
    background-color: #666;
    color: white;
}